.aurelis-map-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
  max-width: 100%;
  max-height: 500px;
  border: 5px double black;
  overflow: scroll;
}
.aurelis-map-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;

   height: auto;
}
.aurelis-map-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}
#aurelisbasemap a:hover .dku, #aurelisbasemap a:active .dku,
#aurelisbasemap a:hover .std, #aurelisbasemap a:active .std,
#aurelisbasemap a:hover .coz, #aurelisbasemap a:active .coz,
#aurelisbasemap a:hover .ara, #aurelisbasemap a:active .ara,
#aurelisbasemap a:hover .ust, #aurelisbasemap a:active .ust,
#aurelisbasemap a:hover .far, #aurelisbasemap a:active .far,
#aurelisbasemap a:hover .dza, #aurelisbasemap a:active .dza,
#aurelisbasemap a:hover .gfl, #aurelisbasemap a:active .gfl,
#aurelisbasemap a:hover .sdf, #aurelisbasemap a:active .sdf,
#aurelisbasemap a:hover .zvk, #aurelisbasemap a:active .zvk,
#aurelisbasemap a:hover .eag, #aurelisbasemap a:active .eag,
#aurelisbasemap a:hover .unknown, #aurelisbasemap a:active .unknown {
  opacity: .4;  
}
.dku {
  fill: #ffbb00;
  opacity: .135;
}

.std {
  fill: #950aff;
  opacity: .135;
}
.coz {
  fill: #ff0a0a;
  opacity: .135;
}
.ara {
  fill: #ff0a0a;
  opacity: .135;
}
.ust {
  fill: #0a89ff;
  opacity: .135;
}
.far {
  fill: #1b0aff;
  opacity: .135;
}
.dza {
  fill: #95ff00;
  opacity: .135;
}
.gfl {
  fill: #ff0abe;
  opacity: .135;
}
.sdf {
  fill: #ff1c4d;
  opacity: .135;
}
.zvk {
  fill: #00ffa6;
  opacity: .135;
}
.eag {
  fill: #ff9900;
  opacity: .135;
}
.unknown {
  fill: #bf8511;
  opacity: .135;
}
